@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
}

/* Components Styles */
@import "./styles/Home.css";
@import "./styles/Header.css";
@import "./styles/Footer.css";


/* General Styles */
@theme {
    --font-roboto: "Roboto Slab", serif;
    --color-first: #7a2205;
    --color-second: #fff0dc;
    --color-third: #fdbc01;
}

body {
    font-family: var(--font-roboto);
    background-color: var(--color-second);
    overflow-x: hidden;
}

.Layout {
    @apply flex flex-col min-h-screen;
}

.Main {
    @apply grow container mx-auto flex flex-col gap-15;
}

.Title {
    @apply text-4xl font-bold text-center mt-10;
}