@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
}

@theme {
    --font-roboto: "Roboto Slab", serif;
    --color-first: #7a2205;
    --color-second: #fff0dc;
    --color-third: #fdbc01;
}

body {
    font-family: var(--font-roboto);
    background-color: var(--color-second);
    overflow-x: hidden;
}

.Layout {
    @apply flex flex-col min-h-screen;
}

.Main {
    @apply grow container mx-auto flex flex-col gap-15;
}





/* Header */
.Header {
    @apply flex justify-between items-center px-10 py-4 text-first
     container mx-auto;
}

.Brand {
    @apply flex gap-3 items-center;
}

.BrandName {
    @apply text-3xl font-bold;
}

.Nav {
    @apply flex gap-5 items-center;
}

.Link {
    @apply flex gap-3 items-center border rounded-full py-2 px-3 
        hover:bg-first hover:text-second transition duration-200;
}

.active {
    @apply bg-first text-second;
}





/* Main Content Home */
.Title {
    @apply text-4xl font-bold text-center mt-10;
}

.Hero {
    @apply relative p-5 flex justify-center items-center w-xl mx-auto mt-10;
}

.HeroImage {
    @apply absolute w-full;
}

.HeroText {
    @apply text-[200px] leading-40 font-extrabold text-first uppercase text-center;
}

.Grid {
    @apply grid grid-cols-3 gap-5;
}

.History {
    @apply bg-third rounded-xl flex justify-center gap-5 items-center col-span-3;
}

.HistoryImage {
    @apply -rotate-10;
}

.HistoryText {
    @apply flex flex-col gap-5 w-xl;
}

.HistoryText h3 {
    @apply text-6xl font-extrabold text-first;
}

.HistoryText p {
    @apply text-xl;
}

.HistoryTwo, 
.HistoryThree {
    @apply rounded-xl bg-first text-third text-6xl font-extrabold p-5 relative;
}

.HistoryTwo h3 {
    @apply mt-10 px-10;
}

.HistoryTwo img {
    @apply absolute -bottom-18 -right-10;
}

.HistoryThree {
    @apply col-span-2;
}

.HistoryThree img {
    @apply absolute -bottom-16 -right-10;
}





/* Footer */
.Footer {
    @apply w-full flex flex-col items-start 
        bg-third rounded-tl-2xl p-10 ml-32 gap-5 mt-20;
}

.FooterNav {
    @apply flex gap-5 items-center;
}

.SocialLinks {
    @apply flex gap-25 items-center border-t;
}

.SocialLinks div {
    @apply flex gap-5 items-center mt-10;
}

.Copyright {
    @apply self-end italic;
}