@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
}

@theme {
    --font-roboto: "Roboto Slab", serif;
    --color-first: #7a2205;
    --color-second: #fff0dc;
    --color-third: #fdbc01;
}

body {
    font-family: var(--font-roboto);
    background-color: var(--color-second);
    overflow-x: hidden;
}

.Layout {
    @apply flex flex-col min-h-screen;
}





.Header {
    @apply flex justify-between items-center px-10 py-4 text-first
     container mx-auto;
}

.Brand {
    @apply flex gap-3 items-center;
}

.BrandName {
    @apply text-3xl font-bold;
}

.Nav {
    @apply flex gap-5 items-center;
}

.Link {
    @apply flex gap-3 items-center border rounded-full py-2 px-3 
        hover:bg-first hover:text-second transition duration-200;
}

.active {
    @apply bg-first text-second;
}






.Main {
    @apply grow;
}

.Title {
    @apply text-4xl font-bold text-center mt-10;
}





.Footer {
    @apply w-full flex flex-col items-start 
        bg-third rounded-tl-2xl p-10 ml-32 gap-5;
}

.FooterNav {
    @apply flex gap-5 items-center;
}

.SocialLinks {
    @apply flex gap-25 items-center border-t;
}

.SocialLinks div {
    @apply flex gap-5 items-center mt-10;
}

.Copyright {
    @apply self-end italic;
}