@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-roboto: "Roboto Slab", serif;
}

body {
    font-family: var(--font-roboto);
}

.Title {
    @apply text-4xl font-bold text-center mt-10;
}