/* Header */
.Header {
    @apply flex justify-between items-center px-10 py-4 text-first
     container mx-auto;
}

.Brand {
    @apply flex gap-3 items-center;
}

.BrandName {
    @apply text-3xl font-bold;
}

.Nav {
    @apply flex gap-5 items-center;
}

.Link {
    @apply flex gap-3 items-center border rounded-full py-2 px-3 
        hover:bg-first hover:text-second transition duration-200;
}

.active {
    @apply bg-first text-second;
}